
@font-face {
  font-family: 'atlantic_cruise';
  src: url('./../fonts/Atlantic_Cruise.ttf');
}

body, html { width:100%;height:100%; }
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  /*color: #e03a3c;*/
  color:#fff;
}

a:hover {
  /*color: #e76668;*/
  color:#eee;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  display: none;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
}

.back-to-top i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background: #e03a3c;
  color: #fff;
  transition: all 0.4s;
}

.back-to-top i:hover {
  background: #e35052;
  color: #fff;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: #fff;
  transition: all 0.5s;
  z-index: 997;
  /*padding: 20px 0;*/
}

#header.header-scrolled {
  padding: 12px 0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#header .logo {
  font-size: 32px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

#header .logo a {
  color: #111111;
}

#header .logo a span {
  color: #e03a3c;
}

#header .logo img {
  max-height: 40px;
}

@media (max-width: 992px) {
  #header {
    padding: 12px 0;
  }
  #header .logo {
    font-size: 28px;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul {
  display: flex;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  padding: 10px 0 10px 28px;
}

.nav-menu a {
  display: block;
  position: relative;
  color: #111111;
  transition: 0.3s;
  font-size: 15px;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  color: #e03a3c;
}

.nav-menu .drop-down ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.nav-menu .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.nav-menu .drop-down li {
  min-width: 180px;
  position: relative;
}

.nav-menu .drop-down ul a {
  padding: 10px 20px;
  font-size: 14px;
  text-transform: none;
}

.nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
  color: #e03a3c;
}

.nav-menu .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.nav-menu .drop-down .drop-down > a {
  padding-right: 35px;
}

.nav-menu .drop-down .drop-down > a:after {
  content: "\eaa0";
  font-family: IcoFont;
  position: absolute;
  right: 15px;
}

@media (max-width: 1366px) {
  .nav-menu .drop-down .drop-down ul {
    left: -90%;
  }
  .nav-menu .drop-down .drop-down:hover > ul {
    left: -100%;
  }
  .nav-menu .drop-down .drop-down > a:after {
    content: "\ea9d";
  }
}

/* Get Startet Button */
.get-started-btn {
  margin-left: 25px;
  background: #e03a3c;
  color: #fff;
  border-radius: 4px;
  padding: 8px 25px;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
}

.get-started-btn:hover {
  background: #111111;
  color: #fff;
}

@media (max-width: 992px) {
  .get-started-btn {
    margin: 0 48px 0 0;
    padding: 6px 18px;
  }
}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #111111;
}

.mobile-nav {
  position: fixed;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  z-index: 9999;
  overflow-y: auto;
  background: #fff;
  transition: ease-in-out 0.2s;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  padding: 10px 0;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #111111;
  padding: 10px 20px;
  font-weight: 500;
  outline: none;
}

.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
  color: #e03a3c;
  text-decoration: none;
}

.mobile-nav .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\eaa1";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  overflow: hidden;
  display: none;
  transition: ease-in-out 0.2s;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  opacity: 1;
  visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}


@media (max-width: 768px) {
  #hero {
    text-align: center;
    padding-top: 58px;
  }
  #hero h1 {
    font-size: 28px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
  }
}

@media (max-height: 500px) {
  #hero {
    height: 120vh;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
  position: relative;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
  position: relative;
}

.section-title h2 {
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

/*
.section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #e03a3c;
  bottom: 0;
  left: calc(50% - 25px);
}
*/

.section-title p {
  margin-bottom: 0;
}

.section-bg {
  padding: 120px 0;
  color: #fff;
}

.section-bg:before {
  content: "";
  background: #1b1b1b;
  position: absolute;
  bottom: 60px;
  top: 60px;
  left: 0;
  right: 0;
  transform: skewY(-3deg);
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 15px 0;
  background: #2b2b2b;
  min-height: 40px;
  margin-top: 82px;
  color: #fff;
}

@media (max-width: 992px) {
  .breadcrumbs {
    margin-top: 57px;
  }
}

.breadcrumbs h2 {
  font-size: 28px;
  font-weight: 500;
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0 0 10px 0;
  margin: 0;
  font-size: 14px;
}

.breadcrumbs ol a {
  color: #aaaaaa;
}

.breadcrumbs ol a:hover {
  color: #fff;
  transition: 0.3s;
}

.breadcrumbs ol li + li {
  padding-left: 10px;
}

.breadcrumbs ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #e03a3c;
  content: "/";
}

/*--------------------------------------------------------------
# Clients
--------------------------------------------------------------*/
.clients .owl-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.clients .owl-item img {
  width: 60%;
  opacity: 0.5;
  transition: 0.3s;
  -webkit-filter: grayscale(100);
  filter: grayscale(100);
}

.clients .owl-item img:hover {
  opacity: 1;
  -webkit-filter: none;
  filter: none;
}

.clients .owl-nav, .clients .owl-dots {
  margin-top: 5px;
  text-align: center;
}

.clients .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd !important;
}

.clients .owl-dot.active {
  background-color: #e03a3c !important;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .container {
  position: relative;
  z-index: 10;
}

.about .content {
  padding: 30px 30px 30px 0;
}

.about .content h3 {
  font-weight: 700;
  font-size: 34px;
  margin-bottom: 30px;
}

.about .content p {
  margin-bottom: 30px;
}

.about .content .about-btn {
  padding: 8px 30px 9px 30px;
  color: #fff;
  border-radius: 50px;
  transition: 0.3s;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 13px;
  display: inline-flex;
  align-items: center;
  border: 2px solid #e03a3c;
}

.about .content .about-btn i {
  font-size: 16px;
  padding-left: 5px;
}

.about .content .about-btn:hover {
  background: #e35052;
  background: #e03a3c;
}

.about .icon-boxes .icon-box {
  margin-top: 30px;
}

.about .icon-boxes .icon-box i {
  font-size: 40px;
  color: #e03a3c;
  margin-bottom: 10px;
}

.about .icon-boxes .icon-box h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 10px 0;
}

.about .icon-boxes .icon-box p {
  font-size: 15px;
  color: #848484;
}

@media (max-width: 1200px) {
  .about .content {
    padding-right: 0;
  }
}

@media (max-width: 768px) {
  .about {
    text-align: center;
  }
}

/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/
.counts {
  padding-top: 80px;
}

.counts .count-box {
  padding: 30px 30px 25px 30px;
  width: 100%;
  position: relative;
  text-align: center;
  box-shadow: 0px 2px 35px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
}

.counts .count-box i {
  position: absolute;
  top: -27px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  background: #fff;
  padding: 12px;
  color: #e03a3c;
  border-radius: 50px;
  border: 2px solid #fff;
  box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.1);
}

.counts .count-box span {
  font-size: 36px;
  display: block;
  font-weight: 700;
  color: #111111;
}

.counts .count-box p {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
}

/*--------------------------------------------------------------
# Tabs
--------------------------------------------------------------*/
.tabs .nav-tabs {
  border: 0;
}

.tabs .nav-link {
  border: 1px solid #b9b9b9;
  padding: 15px;
  transition: 0.3s;
  color: #111111;
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tabs .nav-link i {
  padding-right: 15px;
  font-size: 48px;
}

.tabs .nav-link h4 {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

.tabs .nav-link:hover {
  color: #e03a3c;
}

.tabs .nav-link.active {
  background: #e03a3c;
  color: #fff;
  border-color: #e03a3c;
}

@media (max-width: 768px) {
  .tabs .nav-link i {
    padding: 0;
    line-height: 1;
    font-size: 36px;
  }
}

@media (max-width: 575px) {
  .tabs .nav-link {
    padding: 15px;
  }
  .tabs .nav-link i {
    font-size: 24px;
  }
}

.tabs .tab-content {
  margin-top: 30px;
}

.tabs .tab-pane h3 {
  font-weight: 600;
  font-size: 26px;
}

.tabs .tab-pane ul {
  list-style: none;
  padding: 0;
}

.tabs .tab-pane ul li {
  padding-bottom: 10px;
}

.tabs .tab-pane ul i {
  font-size: 20px;
  padding-right: 4px;
  color: #e03a3c;
}

.tabs .tab-pane p:last-child {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio .portfolio-item {
  margin-bottom: 30px;
}

.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 20px auto;
  list-style: none;
  text-align: center;
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 8px 15px 10px 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #444444;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
  border-radius: 3px;
}

.portfolio #portfolio-flters li:hover, .portfolio #portfolio-flters li.filter-active {
  color: #fff;
  background: #e03a3c;
}

.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: rgba(17, 17, 17, 0.6);
}

.portfolio .portfolio-wrap::before {
  content: "";
  background: rgba(17, 17, 17, 0.6);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.portfolio .portfolio-wrap img {
  transition: all ease-in-out 0.3s;
}

.portfolio .portfolio-wrap .portfolio-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 20px;
}

.portfolio .portfolio-wrap .portfolio-info h4 {
  font-size: 20px;
  color: #fff;
  font-weight: 600;
}

.portfolio .portfolio-wrap .portfolio-info p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  font-style: italic;
}

.portfolio .portfolio-wrap .portfolio-links {
  text-align: center;
  z-index: 4;
}

.portfolio .portfolio-wrap .portfolio-links a {
  color: rgba(255, 255, 255, 0.4);
  margin: 0 5px 0 0;
  font-size: 28px;
  display: inline-block;
  transition: 0.3s;
}

.portfolio .portfolio-wrap .portfolio-links a:hover {
  color: #fff;
}

.portfolio .portfolio-wrap:hover::before {
  opacity: 1;
}

.portfolio .portfolio-wrap:hover img {
  transform: scale(1.2);
}

.portfolio .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
}


/*--------------------------------------------------------------
# Frequently Asked Questions
--------------------------------------------------------------*/
.faq .faq-list {
  padding: 0;
  list-style: none;
}

.faq .faq-list li {
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.faq .faq-list a {
  display: block;
  position: relative;
  font-family: #e03a3c;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  padding-right: 25px;
}

.faq .faq-list i {
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 0;
}

.faq .faq-list p {
  margin-bottom: 0;
  padding: 10px 0 0 0;
}

.faq .faq-list .icon-show {
  display: none;
}

.faq .faq-list a.collapsed {
  color: #343a40;
}

.faq .faq-list a.collapsed:hover {
  color: #e03a3c;
}

.faq .faq-list a.collapsed .icon-show {
  display: inline-block;
}

.faq .faq-list a.collapsed .icon-close {
  display: none;
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
  padding-top: 40px;
}

.portfolio-details .portfolio-details-container {
  position: relative;
}

.portfolio-details .portfolio-details-carousel {
  position: relative;
  z-index: 1;
}

.portfolio-details .portfolio-details-carousel .owl-nav, .portfolio-details .portfolio-details-carousel .owl-dots {
  margin-top: 5px;
  text-align: left;
}

.portfolio-details .portfolio-details-carousel .owl-dot {
  display: inline-block;
  margin: 0 10px 0 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd !important;
}

.portfolio-details .portfolio-details-carousel .owl-dot.active {
  background-color: #e03a3c !important;
}

.portfolio-details .portfolio-info {
  padding: 30px;
  position: absolute;
  right: 0;
  bottom: -70px;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.portfolio-details .portfolio-info ul li + li {
  margin-top: 10px;
}

.portfolio-details .portfolio-description {
  padding-top: 50px;
}

.portfolio-details .portfolio-description h2 {
  width: 50%;
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
  padding: 0 0 0 0;
}

@media (max-width: 768px) {
  .portfolio-details .portfolio-description h2 {
    width: 100%;
  }
  .portfolio-details .portfolio-info {
    position: static;
    margin-top: 30px;
  }
}

/* VARIADO MAIN */
.titulo_seccion {
  font-size:2.5rem;
  font-weight: 666;
  color:#ccc;
  text-transform: uppercase;
}

/* SLIDE MAIN */


#slide-caja:before {
  content: "";
  background: rgba(172, 172, 172, 0.2);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#slide-caja h1 {
  margin: 0;
  font-size: 6vw;
  font-weight: 700;
  color: #fff;
}

#slide-caja h2 {
  color: #fff;
  margin: 10px 0 0 0;
  font-size: 24px;
}

.btn-get-started {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 4px;
  transition: 0.5s;
  margin-top: 30px;
  color: #fff;
  background: rgba(58, 58, 58, 0.5);
  border: 2px solid rgb(225, 255, 255);
}

#slide-caja .btn-get-started:hover {
  background: transparent;
  border-color: #fff;
}

/* CATEGORÍAS */
.caja_categoria {
  overflow:hidden;
  text-align:center;
  padding:0!important;
  cursor:pointer;
  border:0px solid red;
}
.caja_categoria p {
  margin-bottom:0;
}
.caja_categoria i {
  font-size:2rem;
}
.caja_categoria a {
  color:white!important;
  margin:0;
  text-shadow:2px 2px 6px #333;
}
.caja_categoria img {
  position:absolute;
  width:100%;
  transition:0.5s;
  top:0; left:0;
  z-index:-1!important;
}
.caja_categoria div {
  padding:3rem 0px;
  width:100%!important; height:100%;
  margin:0;
  scale:1.3;
  transition:0.3s;
  z-index:2!important;
}
.caja_categoria div:hover {
  background-color:rgba(63, 82, 69, 0.5);
  scale:1.28;
}
#brillo_categoria {
  width:25px!important;
  height:110%!important;
  position:absolute;
  left:-15%;
  filter:blur(15px);
  transform:rotate(25deg);
  opacity:0.5;
  background:white;
  z-index:2222;
  transition-delay:0.2s;
}
.img_categoria { scale:1.1; }
.caja_categoria:hover .img_categoria {
  scale:1.2;
}
.caja_categoria:hover #brillo_categoria {
  left:120%;
}
.plantas_animales { background-color:rgba(58, 148, 85, 0.6); }
.alimentos_bebidas { background-color:rgba(170, 98, 57, 0.6); }
.banio_cocina { background-color:rgba(58, 71, 148, 0.6); }
.electronica_entretenimiento { background-color:rgba(140, 58, 148, 0.6); }
.vestimenta { background-color:rgba(129, 30, 47, 0.6); }
.anticuarios { background-color:rgba(160, 155, 83, 0.6); }
.libros_revistas { background-color:rgba(125, 155, 134, 0.6); }
.bazar { background-color:rgba(71, 160, 138, 0.6); }
.bricolaje { background-color:rgba(174, 132, 214, 0.6); }
.papeleria { background-color:rgba(127, 161, 87, 0.6); }
.repuestos { background-color:rgba(163, 115, 123, 0.6); }
.mercado_pulgas { background-color:rgba(146, 125, 80, 0.6); }

.section_feria {
  padding:0;
}

/* SUBCATEGORÍAS */
.li_sub_1 {
  margin:0; padding-top:0; padding-bottom:0;
}
.li_sub_2 {
  margin:-10px; padding-top:0; padding-bottom:0;
}
.li_sub_1, .li_sub_2 { list-style: none }
.li_sub_1::before, .li_sub_2::before {
  content: "● ";
  color: rgb(212, 201, 170);
}
.modal-dialog {
  max-width:80%!important;
  height:80%!important;
}
.modal-content {
  height:100%!important;
}
.modal-body {
  height:100%!important;
}

/* ARTICULOS */
.text_articulos_p {
  line-height: 1.8rem;
}

/* MENU */
.navbar-toggler {
  color:rgba(0, 0, 0, 1);
  border-color:none!important;
}
#cajaMenuVer h4 {
  font-family:'arial'!important;
}
.titulo-caja-menu {
  background-color:rgba(0,0,0,0.3);
  font-family:'atlantic_cruise'!important;
  font-size:2rem;
}
#cajaMenuVer h6, #cajaMenuVer li {
  position:relative;
  left:0px;
  transition:0.3s;
  line-height:1rem;
}
#cajaMenuVer h6::before, #cajaMenuVer li::before {
  content:'■';
  font-size:1.6rem;
  margin-right:5px;
  cursor:pointer;
  color:rgba(255, 255, 255, 0.5);
}
#cajaMenuVer h6:hover, #cajaMenuVer li:hover {
  left:4px;
}
#cajaMenuVer ul {
  padding-left:0px;
  list-style:none;
}

/* NANO MENU */
.toggle {
  background: #e03a3c!important;
  font-size:2rem!important;
}
.category{
  height:200px;
  width:100px;
  display:inline;
	overflow:hidden;
	/*background:teal;*/
  background:transparent;
  padding:40px 30px;
	position:relative;
}
/*.category:nth-child(1){background:#f64c73}*/

.category .statistic-wrap,
.category .statistic-wrap .head{
	text-align:center;
}
.category .links-wrap{
	top:50%;
	width:200px;
	height:200px;
	right:-100px;
	border-radius:50%;
	position:absolute;
	margin-top:-100px;
}
.category .links-wrap .toggle{
  font-size: 2.5rem!important;
	top:50%;
	z-index:2;
	color:#eee;
	right:100px;
	width:40px;
  height:60px;
  display:flex;
  flex-direction: row;
  align-items: center;
	cursor:pointer;
	font-size:24px;
	padding-left:8px;
	text-align:center;
  position:inherit;
	margin-top:-25px;
	line-height:50px;
	background:rgba(0,0,0,.4);
	border-radius:50px 0 0 50px;
}
.links a {
  box-shadow: 2px 2px 4px #444!important;
}
.category .links-wrap .toggle .fa:before{content:'\f104'}
.category.active .links-wrap .toggle .fa:before{content:'\f105'}

.category .links-wrap .links{
	left:0;
	width:inherit;
	height:inherit;
	position:inherit;
	border-radius:inherit;
	transition:all .4s ease-in-out 0s;
}
.category .links-wrap .links:before,
.category .links-wrap .links:after{
	width:100px;
	height:100px;
	transition:inherit;
	background:rgba(0,0,0,.2);
}
.category .links-wrap .links:before{
	top:-100px;
	border-radius:100px 0 0 0;
}
.category .links-wrap .links:after{
	bottom:-100px;
	border-radius:0 0 0 100px;
}
.category.active .links-wrap .links:before{top:0}
.category.active .links-wrap .links:after{bottom:0}

.category .links a{
	top:50%;
	z-index:1;
	right:55px;
	width:42px;
	height:42px;
	color:rgba(0,0,0,.5);
	margin-top:-21px;
	line-height:42px;
	text-align:center;
	border-radius:50%;
	background:white;
	position:absolute;
	display:inline-block;
	transform:translate(0,0) scale(0) rotate(360deg);
	transition:all .4s ease-in-out 0s;
}
.category.active .links a{right:80px}
.category.active .links-wrap .links a:nth-child(1){transform:translate(-40px,-50px) scale(1) rotate(0deg)}
.category.active .links-wrap .links a:nth-child(2){transform:translate(-70px,0px) scale(1) rotate(0deg)}
.category.active .links-wrap .links a:nth-child(3){transform:translate(-40px,55px) scale(1) rotate(0deg)}

/* MAIN SECTION */
#mainFeria {
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  height:100%!important;
  background-image:url('./assets/img/banner/banner_1.jpg');
  background-size:cover;
}
#mainFeria > img:first-child {
  position:absolute;
  left:10px;
  top:10px;
  width:10vw;
  display:none;
}
#mainFeria > div {
  z-index:-1;
  position:absolute;
  background:rgba(80, 74, 73, 0.4);
  width:100%;
  height:100%;
}
#logoMainLeft {
  width:10vw;
  position:absolute;
  top:10px;
  left:10px;
  display:none;
}
#logoMainCenter {
  width:22vw;
  padding:0.1vw 0.1vw 2vw 0.1vw;
}
#mainFeria h1 {
  font-size:6vw;
  color:rgba(255, 255, 255,0.8);
  font-weight: 999;
}
#mainFeria h1 > span {
  font-family:arial;
  font-weight: 555;
}
#mainFeria h2 {
  font-size:3vw;
  color:rgba(255, 255, 255,0.8);
  font-weight: 999;
}
#mainVideo {
  z-index:-2;
  position:absolute;
  width:100%;
  height:100%;
  scale:1.3;
  display:block;
}
#mainVideoHorizontal, #mainVideoVertical {
  z-index:-2;
  position:absolute;
  width:100%;
}
#mainVideoHorizontal { scale:1.2; }
#mainVideoVertical { scale:1.4; }
#controlsLeft{
  position:absolute;
  top:10px;
  right:10px;
  width:auto!important;
  height:auto!important;
  display:inline!important;
  z-index:-1;
}
#controlsLeft button {
  background:none;
  color:white;
  border:none;
  font-size:2vw;
  outline:none;
}
#menu-caja-1, #menu-caja-2, #menu-caja-3 {
  overflow:hidden;
}
#menu-caja-1 video, #menu-caja-2 video, #menu-caja-3 video {
  z-index:-1;
  position: absolute;
  top: 10%; 
  left: 10%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  min-width: 100%; 
  min-height: 100%; 
  width: auto; 
  height: auto;
  scale:0.6;
}
/*
#menu-caja-1 {
  background-image:url('./../img/menu/menu_links_principales.jpg');background-size:cover;
}
#menu-caja-2 {
  background-image:url('./../img/menu/menu_paseo_feria.jpg');background-size:cover;
}
#menu-caja-3 {
  background-image:url('./../img/menu/menu_wiki_feria.jpg');background-size:cover;
}
*/

@media screen and (max-width:900px) {
  #controlsLeft button {
    font-size:7vw;
  }
  #mainFeria img {
    width:40vw;
  }
  #mainFeria h2 {
    font-size:4vw;
  }
  #mainVideo {
    display:none;
  }
  #btnPlayPause, #btnVol, #btnView {
    display:none!important;
  }
}